@font-face {
  font-family: 'Gagalin';
  font-style: normal;
  font-weight: 400;
  src: url(https://github.com/NochNoch/sovfonts/blob/56d00fc34ad935a2dd957339d6579eac296b8037/fonts/Gagalin-Regular.woff2) format('woff2');
}
